.header{
  width: 1100px;
  height: 293px;
}

.cover{
  position: absolute;
  width: 1100px;
  height: 757px;
  left: 0px;
  top: 0px;
  background-image: url(cover.jpg);
  background: #000000;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lots{
  width: 1052px;
  height: 723px; 
}

.about{
  width: 1052px;
  height: 595px;   
}

.footer{
  width: 1100px;
  height: 180px; 
}

.header{

}

.header_menu{

}

.header_links-list{

}

.header_links-list-item{

}

.header_links-list-item_no-bullit{

}

.header_link{

}

.header_link_active{

}

.header_logo{
  width: 148px;
  height: 105px;
}

.header_logo-image{
  margin: 0 auto;
}

.address{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header_address{

}

.overlay{

}

.cover_title{

}

.aligned-text{

}

.aligned-text_left{

}

.aligned-text_center{

}

.aligned-text_right{

}

.letter-spacing-extended{

}

.no-letter-spacing{

}

.cover_description{

}

.cover_description-text{

}

.bet-button{

}

.lots{

}

.lots_heading{

}

.lots_card-list{

}

.lots_card-list-item{

}

.card-link{

}

.card{

}

.card_type_film{

}

.card_type_book{
  
}

.card_type_picture{

}

.overlay{

}

.card_title{

}

.card_text{

}

.lots_look-more-link{

}

.about{

}

.about_column{

}

.about_logo{

}

.about_logo-image{

}

.about_title{

}

.about_text{

}

.footer_menu{

}

.footer_menu-list{

}

.footer_menu-list-item{

}

.footer_menu-link{

}

.footer_menu-link_active{

}

.footer_social-list{

}

.footer_social-list-item{

}

.footer_social-link{

}

.footer_social-icon{

}