body {
  overflow-x: hidden;
}
/*Шапка*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "header_menu header_logo header_address";
  padding: 92px 50px 96px;
}

.header_menu {
  display: flex;
  grid-area: header_menu;
  align-items: center;
  font-size: 18px;
}

.header_links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header_links-list-item {
  list-style: circle;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link {
  text-underline-offset: 5px;
}

.header_link_active {
  text-decoration: none;
}

.header_logo {
  grid-area: header_logo;
  width: 148px;
  height: 105px;
  border-width: 6px;
}

.header_logo-image {
  display: block;
}

.header_address {
  grid-area: header_address;
  padding-top: 3px;
  justify-self: end;
  max-width: 237px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}

.address {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/*Подложка*/
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

/*Обложка*/
.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover_title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-top: 165px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1.3;
  letter-spacing: 30px;
}

.cover_title > span {
  display: block;
  width: 100%;
}

.aligned-text_left {
  padding-left: 50px;
  text-align: left;
}

.aligned-text_center {
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  padding-right: 20px;
  text-align: end;
}

.cover_description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 100px;
  margin-left: 50px;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.cover_description-text {
  word-spacing: 18px;
  line-height: 1.27;
}

.bet-button {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-right: 50px;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

/*Лоты*/
.lots {
  position: relative;
  margin: 180px 24px;
}

.lots_heading {
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 27px;
  list-style: none;
}

.lots_card-list-item {
  width: 334px;
  
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 596px;
  color: rgba(255, 255, 255, 1);
}

.card_title {
  position: relative;
  z-index: 2;
  padding: 48px 40px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_text {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding: 0 40px 48px;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  height: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  height: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.lots_look-more-link {
  position: absolute;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  text-underline-offset: 4px;
}

/*Об аукционе*/
.about {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}

.about_column {
  display: grid;
  grid-template-columns: 359px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "about_logo about_title"
    "about_logo about_text";
  column-gap: 25px;
  padding-top: 30px;
}

.about_logo {
  display: flex;
  grid-area: about_logo;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 47px 0 auto;
  border-radius: 50%;
  background-color: black;
}

.about_logo-image {
  width: 148px;
  max-width: 100%;
}

.about_title {
  grid-area: about_title;
  margin: 100px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  grid-area: about_text;
  gap: 25px;
  max-width: 686px;
  margin-right: 24px;
  font-size: 20px;
  line-height: 1.2;
}

/*Подвал*/
.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: "footer_address footer_menu footer_social-list";
  align-items: start;
  margin-top: 180px;
}

.footer_address {
  grid-area: footer_address;
  font-size: 18px;
  font-style: normal;
  max-width: 300px;
  margin-bottom: 100px;
  padding-left: 50px;
  line-height: 1.3;
}

.footer_menu {
  grid-area: footer_menu;
  font-size: 18px;
  text-align: center;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer_menu-list-item {
  list-style: none;
}

.footer_menu-link {
  text-underline-offset: 5px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  flex-direction: row;
  grid-area: footer_social-list;
  justify-self: end;
  gap: 48px;
  padding-right: 50px;
}

.footer_social-list-item {
  list-style: none;
}

.footer_social-link {
  text-decoration: none;
}

.footer_social-icon {
  width: 48px;
  max-width: 100%;
  height: 48px;
  max-height: 100%;
}