.header{
  width: 1100px;
  height: 293px;
}

.cover{
  position: absolute;
  width: 1100px;
  height: 757px;
  left: 0px;
  top: 0px;
  background-image: url(cover.jpg);
  background: #000000;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lots{
  width: 1052px;
  height: 723px; 
}

.about{
  width: 1052px;
  height: 595px;   
}

.footer{
  width: 1100px;
  height: 180px; 
}

.header{

}

.header__menu{

}

.header__links-list{

}

.header__links-list-item{

}

.header__links-list-item_no-bullit{

}

.header__link{

}

.header__link_active{

}

.header_logo{
  width: 148px;
  height: 105px;
}

.header_logo-image{
  margin: 0 auto;
}

.address{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__address{

}

.overlay{

}

.cover__title{

}

.aligned-text{

}

.aligned-text_left{

}

.aligned-text_center{

}

.aligned-text_right{

}

.letter-spacing-extended{

}

.no-letter-spacing{

}

.cover__description{

}

.cover__description-text{

}

.bet-button{

}

.lots{

}

.lots__heading{

}

.lots__card-list{

}

.lots__card-list-item{

}

.card-link{

}

.card{

}

.card_type_film{

}

.card_type_book{
  
}

.card_type_picture{

}

.overlay{

}

.card__title{

}

.card__text{

}

.lots__look-more-link{

}

.about{

}

.about__column{

}

.about__logo{

}

.about__logo-image{

}

.about__title{

}

.about__text{

}

.footer__menu{

}

.footer__menu-list{

}

.footer__menu-list-item{

}

.footer__menu-link{

}

.footer__menu-link_active{

}

.footer__social-list{

}

.footer__social-list-item{

}

.footer__social-link{

}

.footer__social-icon{

}