body {
  overflow-x: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas:
    'header_menu header_logo header_address';  
  padding: 92px 50px 96px;
  }

.header_menu {
  grid-area: header_menu;
  display: flex;
  align-items: center;
  font-size: 18px;
  
}

.header_links-list {
  display: flex;
  gap: 32px;
  flex-direction: row;
  
  }

.header_links-list-item {
  list-style: circle;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link {
  text-underline-offset: 5px;
}

.header_link_active {
  text-decoration: none;
}

.header_logo {
  grid-area: header_logo;
  width: 148px;
  height: 105px;
  border-width: 6px;
}

.header_logo-image {
  display: block;
}

.header_address {
  grid-area: header_address;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  max-width: 237px;
  line-height: 1.3;
  padding-top: 3px;
}

.address {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/*Подложка*/
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/*Обложка*/
.cover {
  position: relative;
  height: 757px;
  /*padding: 165px 50px 50px;*/
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}


.cover_title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1.15;
  margin-top: 165px;
}

.aligned-text {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 30px;
  line-height: 1.3;

}

.aligned-text > span {
  display: block;
  width: 100%; 
}

.aligned-text_left {
  text-align: left;
  padding-left: 50px;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: end; 
  padding-right: 20px;
}

.cover_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin-top: 100px;
  margin-left: 50px;
}

.cover_description-text {
  font-size: 22px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  line-height: 1.27;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  margin-right: 50px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: 1px solid white; 
  background: transparent; 
  cursor: pointer;
}

.lots {  
  margin: 180px 24px;
}

.lots_heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots_card-list {  
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 27px;
  list-style: none;
}

.lots_card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
}

.card_title {
  padding: 48px 40px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  line-height: 1.2;
  text-decoration: underline;
}

.card_text {
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  line-height: 1.2;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  position: absolute;
  bottom: 0;
}


.card_type_film {
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  height: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  height: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots_look-more-link {
  position: absolute;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  text-underline-offset: 4px;
}

.about {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}

.about_column {
  display: grid;
  grid-template-columns: 359px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'about_logo about_title'
    'about_logo about_text';
  gap: 25px;
  padding: 30px 0 180px;
}

.about_logo {
  grid-area: about_logo;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 47px 0 auto;
  border-radius: 50%;
  background-color: black;
}

.about_logo-image {
  width: 148px;
  max-width: 100%;
}

.about_title {
  grid-area: about_title;
  margin: 100px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  grid-area: about_text;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
  margin-right: 24px;
}

/*Подвал*/
.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'footer_address footer_menu footer_social-list';
  align-items: start;
}

.footer_address {
  grid-area: footer_address;
  font-size: 18px;
  font-style: italic;
  max-width: 300px;
  padding-left: 50px;
  margin-bottom: 100px;
}

.footer_menu {
  grid-area: footer_menu;
  font-size: 18px;
  text-align: center;
  
}

.footer_menu-list {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.footer_menu-list-item {
  list-style: none;
}

.footer_menu-link {
  text-underline-offset: 5px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  grid-area: footer_social-list;
  justify-self: end;
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-right: 50px;
}

.footer_social-list-item {
  list-style: none;
  }

.footer_social-link {
  text-decoration: none;
}

.footer_social-icon {
  width: 48px;  
  height: 48px;
  max-width: 100%;
  max-height: 100%;
}